*{
    padding: 0;
    margin: 0;
}

.main-container{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(240, 240, 240, 0.89);
}

.main-container h1{
    font-size: 30px;
    line-height: 50px;
}

.country-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 30px 20px;
}